<div class="grid grid-cols-2 mt-10">
    <div class="text-center">
        <div class="">
            <div class="lg:flex lg:items-center lg:justify-between">
                <div class="container mx-auto">
                    <h2 class="text-2xl leading-7 text-indigo-600 sm:truncate sm:text-3xl sm:tracking-tight">
                        Login here!
                    </h2>
                    <form class="form login-form">
                        <div class="form-group">
                            <label for="username-login">Username:</label>
                            <input  class="form-input" type="text" id="username-login" />
                        </div>
                        <div class="form-group">
                            <label for="password-login">Password:</label>
                            <input class="form-input" type="password" id="password-login" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary bg-indigo-700 rounded-md p-1" type="submit" id="login-button">login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <div class="">
            <div class="lg:flex lg:items-center lg:justify-between">
                <div class="container mx-auto">
                    <h2 class="text-2xl leading-7 text-indigo-600 sm:truncate sm:text-3xl sm:tracking-tight">
                        Sign up here!
                    </h2>
                    <form class="form login-form">
                        <div class="form-group">
                            <label for="username-login">Username:</label>
                            <input  class="form-input" type="text" id="username-login" />
                        </div>
                        <div class="form-group">
                            <label for="password-login">Password:</label>
                            <input class="form-input" type="password" id="password-login" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/login.js"></script>